
body {
    background: #3c4c80;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden; /* Avoid scroll */
}

/* body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff6c99;
    clip-path: polygon(0 0, 25% 0, 35% 30%, 65% 70%, 75% 100%, 0 100%);
    z-index: -1;
} */

/* --- Center content--- */
.stApp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    min-height: 750px;
    text-align: center;
    background: #f3f7ff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* --- Buttons --- */
.stButton > button {
    min-width: 200px;
    background: #4a73ff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.stButton > button:hover {
    background: linear-gradient(135deg, #357abd 0%, #2c5aa0 100%);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

